<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>firstwebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<context-param>
    	<param-name>AdministratorEmail</param-name>
    	<param-value>vimal2002@yahoo.com</param-value>
</context-param>
  <session-config>
		 <session-timeout>10</session-timeout>
</session-config>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.chainsys.app.dynamicproject.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycle</display-name>
    <servlet-name>LifeCycle</servlet-name>
    <servlet-class>com.chainsys.app.dynamicproject.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle</servlet-name>
    <url-pattern>/LifeCycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestParam</display-name>
    <servlet-name>RequestParam</servlet-name>
    <servlet-class>com.chainsys.app.dynamicproject.RequestParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestParam</servlet-name>
    <url-pattern>/RequestParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employees</display-name>
    <servlet-name>Employees</servlet-name>
    <servlet-class>com.chainsys.app.dynamicproject.Employees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employees</servlet-name>
    <url-pattern>/Employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttributesDemo</display-name>
    <servlet-name>AttributesDemo</servlet-name>
    <servlet-class>com.chainsys.app.dynamicproject.AttributesDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttributesDemo</servlet-name>
    <url-pattern>/AttributesDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appoinment</display-name>
    <servlet-name>Appoinment</servlet-name>
    <servlet-class>com.chainsys.app.dynamicproject.Appoinment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appoinment</servlet-name>
    <url-pattern>/Appoinment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Initparam</display-name>
    <servlet-name>Initparam</servlet-name>
    <servlet-class>com.chainsys.webapp.second.Initparam</servlet-class>

  <Init-param>
            <param-name>phone</param-name>
            <param-value>9884598845</param-value>
      </Init-param>
      <init-param>
            <param-name>mailid</param-name>
            <param-value>abcd@xyz.com</param-value>
      </init-param>
        </servlet>
  <servlet-mapping>
    <servlet-name>Initparam</servlet-name>
    <url-pattern>/Initparam</url-pattern>
  </servlet-mapping>
</web-app>